.app-childd
{
    background-color: #1aace6;
    padding: 50px;
    margin: auto;
    padding-bottom: 0px;
    height: 40vh;
    border-radius: 15px;
    border: 3px solid #fff;
}
.max{
  max-width: 500px !important;
  display: flex;
  margin-right: -120px;
  margin-top: -50px;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.col {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
