.from
{
 display: flex;
background-color: #fff;
flex-direction: column;

}
.email
{
 border-radius: 12px #fff;

}
.password
{
 border-radius: 12px #fff;

    background-color: #fff;


}

.submit
{

      width: 100%;
      height: 100%;
      background-color: #fff;
      position: relative;

}
